h1{
    text-align: center;
}
p1{
    text-align: center;
}
.wrap1{

    text-align: center;
}
.wrap2{
    text-align: center;
}
.wrap3{
    text-align: center;
    gap: 60px;
    margin: 100px;
}
img{
    width: 300px;
    height: 200px;
    margin: 0px;
}
.kartinka{
    text-align: center;
}